<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scroll0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{178,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{665,207},{178,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{230,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{381,621},{230,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{232,248}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{653,387},{232,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{184,284}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{381,1},{184,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{188,294}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,9}</string>
                <key>spriteSize</key>
                <string>{204,272}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{667,1},{204,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,23}</string>
                <key>spriteSize</key>
                <string>{238,242}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{613,621},{238,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{210,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{381,373},{210,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scroll0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{188,294}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{1,297},{188,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{188,288}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{190,288}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{1,593},{190,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{190,288}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{1,593},{190,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{188,286}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{191,291},{188,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{186,284}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{193,579},{186,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{184,282}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{381,187},{184,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scroll.png</string>
            <key>size</key>
            <string>{948,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed6295b7186bdaf0e551920a755bbc98:9e49c69638ac7545951f5db1ba620d3e:806319095426d874d01a398e72ffdc74$</string>
            <key>textureFileName</key>
            <string>scroll.png</string>
        </dict>
    </dict>
</plist>
