<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vsfire0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{396,496}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{493,1},{396,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{396,496}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{493,1},{396,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{394,496}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{493,399},{394,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{394,496}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{493,399},{394,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{388,484}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,409},{388,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{388,484}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,409},{388,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{378,468}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,799},{378,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{378,468}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,799},{378,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-25}</string>
                <key>spriteSize</key>
                <string>{374,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{449,1185},{374,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-25}</string>
                <key>spriteSize</key>
                <string>{374,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{449,1185},{374,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-27}</string>
                <key>spriteSize</key>
                <string>{380,446}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,1179},{380,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-27}</string>
                <key>spriteSize</key>
                <string>{380,446}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,1179},{380,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{388,468}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{487,795},{388,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{388,468}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{487,795},{388,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vsfire0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{406,490}</string>
                <key>spriteSourceSize</key>
                <string>{450,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{406,490}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vsfire.png</string>
            <key>size</key>
            <string>{990,1560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b05b93a8bb1f4be3cd62e2d439f53ba:b5e425e9857254f360f4d6680a0c31f0:9680402d9a355211ccf40a2be5999a6e$</string>
            <key>textureFileName</key>
            <string>vsfire.png</string>
        </dict>
    </dict>
</plist>
