<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{330,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1063},{330,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fairy10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{372,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{372,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{749,1},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-13}</string>
                <key>spriteSize</key>
                <string>{286,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1443,709},{286,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{375,709},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{372,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,355},{372,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-8}</string>
                <key>spriteSize</key>
                <string>{330,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{355,1063},{330,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fairy10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-7}</string>
                <key>spriteSize</key>
                <string>{330,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{709,1063},{330,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fairy10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{372,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{375,1},{372,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{749,355},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1105,1},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{286,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1461,1},{286,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{731,709},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{372,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,709},{372,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-7}</string>
                <key>spriteSize</key>
                <string>{330,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1063,1063},{330,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fairy10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-9}</string>
                <key>spriteSize</key>
                <string>{330,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{709,1063},{330,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fairy10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{372,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{375,355},{372,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1105,355},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-13}</string>
                <key>spriteSize</key>
                <string>{286,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1461,355},{286,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{354,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1087,709},{354,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fairy10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-15}</string>
                <key>spriteSize</key>
                <string>{330,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1417,1063},{330,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fairy1.png</string>
            <key>size</key>
            <string>{1770,1394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5b4082b06db2ffe20fd2f9bfe0a16b:51c8e7aaa76d941dcff9c8e9a7db353f:7c302dcbff7698d586f7429761caa426$</string>
            <key>textureFileName</key>
            <string>fairy1.png</string>
        </dict>
    </dict>
</plist>
