<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_magic_light20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{422,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{422,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,425},{422,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{422,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{295,1},{422,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{422,292}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{425,425},{422,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{386,250}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{589,1},{386,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{354,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{841,1},{354,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{328,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{849,403},{328,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{328,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1081,397},{328,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1757,227},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1779,1},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{216,212}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1745,445},{216,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{224,212}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1531,485},{224,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{232,216}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1313,485},{232,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{240,224}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1537,1},{240,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-13}</string>
                <key>spriteSize</key>
                <string>{242,226}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1313,241},{242,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-13}</string>
                <key>spriteSize</key>
                <string>{238,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1305,1},{238,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-13}</string>
                <key>spriteSize</key>
                <string>{244,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1073,1},{244,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{214,216}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1541,227},{214,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,35}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1073,247},{60,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,39}</string>
                <key>spriteSize</key>
                <string>{52,42}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1073,309},{52,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,42}</string>
                <key>spriteSize</key>
                <string>{46,36}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1121,247},{46,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_light20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,45}</string>
                <key>spriteSize</key>
                <string>{74,38}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1061,357},{74,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,48}</string>
                <key>spriteSize</key>
                <string>{112,40}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{947,357},{112,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_light20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,51}</string>
                <key>spriteSize</key>
                <string>{104,44}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{841,357},{104,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_magic_light2.png</string>
            <key>size</key>
            <string>{1992,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:854906dffe0335083c4d7dada245b226:70863a83f510cab7581f2bae70b40599:c00dcbd052e82584088a1f1f73e9b195$</string>
            <key>textureFileName</key>
            <string>enemy_magic_light2.png</string>
        </dict>
    </dict>
</plist>
