<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_magic_fire20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,17}</string>
                <key>spriteSize</key>
                <string>{386,304}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{899,451},{386,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,25}</string>
                <key>spriteSize</key>
                <string>{376,288}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{609,307},{376,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-131,20}</string>
                <key>spriteSize</key>
                <string>{338,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1287,441},{338,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-135,10}</string>
                <key>spriteSize</key>
                <string>{322,318}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1261,781},{322,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-109,-7}</string>
                <key>spriteSize</key>
                <string>{256,314}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{279,1047},{256,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,-5}</string>
                <key>spriteSize</key>
                <string>{208,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{595,1047},{208,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,18}</string>
                <key>spriteSize</key>
                <string>{448,302}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{899,1},{448,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,25}</string>
                <key>spriteSize</key>
                <string>{410,288}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{319,323},{410,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,31}</string>
                <key>spriteSize</key>
                <string>{410,276}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,729},{410,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,11}</string>
                <key>spriteSize</key>
                <string>{404,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,323},{404,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-7}</string>
                <key>spriteSize</key>
                <string>{368,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{279,735},{368,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-5}</string>
                <key>spriteSize</key>
                <string>{326,252}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{805,757},{326,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,4}</string>
                <key>spriteSize</key>
                <string>{310,154}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{649,685},{310,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,9}</string>
                <key>spriteSize</key>
                <string>{472,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,17}</string>
                <key>spriteSize</key>
                <string>{422,304}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{475,1},{422,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,14}</string>
                <key>spriteSize</key>
                <string>{362,310}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1203,1},{362,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,5}</string>
                <key>spriteSize</key>
                <string>{328,328}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1567,1},{328,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{282,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1585,781},{282,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{264,258}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1587,331},{264,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,1}</string>
                <key>spriteSize</key>
                <string>{232,156}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1141},{232,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,4}</string>
                <key>spriteSize</key>
                <string>{240,174}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1261,1101},{240,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,4}</string>
                <key>spriteSize</key>
                <string>{242,174}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1585,1099},{242,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,5}</string>
                <key>spriteSize</key>
                <string>{258,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1059,1021},{258,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,5}</string>
                <key>spriteSize</key>
                <string>{262,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1059,757},{262,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,5}</string>
                <key>spriteSize</key>
                <string>{262,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1059,757},{262,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_fire20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{136,126}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1203,313},{136,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{136,126}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1203,313},{136,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{190,174}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1587,597},{190,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{190,174}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1587,597},{190,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_fire20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{228,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{805,1085},{228,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_magic_fire2.png</string>
            <key>size</key>
            <string>{1896,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c0c56be2e60292b8c1a9df10490aa8a:a2e324f3ac6af318dfb21c52a98bc2ee:e380a5a997d3d3d63426af25e73c3362$</string>
            <key>textureFileName</key>
            <string>enemy_magic_fire2.png</string>
        </dict>
    </dict>
</plist>
