<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_hammer0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-118}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{327,581},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-121}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{327,533},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-124}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{253,533},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-123}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{151,533},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-117}</string>
                <key>spriteSize</key>
                <string>{126,104}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{383,523},{126,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-111}</string>
                <key>spriteSize</key>
                <string>{154,116}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{383,367},{154,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_hammer0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-106}</string>
                <key>spriteSize</key>
                <string>{174,126}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{377,1},{174,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_hammer0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-100}</string>
                <key>spriteSize</key>
                <string>{182,138}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{367,183},{182,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_hammer0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-95}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,389},{184,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_hammer0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-89}</string>
                <key>spriteSize</key>
                <string>{186,160}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{195,371},{186,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-84}</string>
                <key>spriteSize</key>
                <string>{186,170}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{195,183},{186,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_hammer0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-79}</string>
                <key>spriteSize</key>
                <string>{186,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{189,1},{186,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-73}</string>
                <key>spriteSize</key>
                <string>{186,192}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,201},{186,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_hammer0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_hammer0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-70}</string>
                <key>spriteSize</key>
                <string>{186,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_hammer.png</string>
            <key>size</key>
            <string>{510,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6869d559a11d6d8c53f3a42baa8208d:ecf925f699d18d8b39e5ad3bc1cfde5e:677466fedf0907f1aa0a2d63f1395670$</string>
            <key>textureFileName</key>
            <string>enemy_hammer.png</string>
        </dict>
    </dict>
</plist>
