<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_magic_ice20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-28}</string>
                <key>spriteSize</key>
                <string>{240,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1201,541},{240,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-28}</string>
                <key>spriteSize</key>
                <string>{240,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1201,541},{240,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-28}</string>
                <key>spriteSize</key>
                <string>{258,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1201,283},{258,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-28}</string>
                <key>spriteSize</key>
                <string>{258,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1201,283},{258,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-22}</string>
                <key>spriteSize</key>
                <string>{280,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1201,1},{280,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_ice20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-22}</string>
                <key>spriteSize</key>
                <string>{280,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1201,1},{280,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_ice20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{301,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{301,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{301,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{301,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{301,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{301,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{901,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{901,1},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{901,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{901,271},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{901,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_ice20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{298,268}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{901,541},{298,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_magic_ice2.png</string>
            <key>size</key>
            <string>{1470,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d767857c6b788be3f6d45a4a5897f793:39f6d5955fd43267c69cc939d3cbbc8b:c9438ee2e6f99906e04be59429bb7a13$</string>
            <key>textureFileName</key>
            <string>enemy_magic_ice2.png</string>
        </dict>
    </dict>
</plist>
