<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_magic_stone20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298.5,167.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{317,1349},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298.5,167.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{317,1349},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,134}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1875,395},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,83}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1875,321},{72,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,81}</string>
                <key>spriteSize</key>
                <string>{324,176}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1529,673},{324,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,29}</string>
                <key>spriteSize</key>
                <string>{314,242}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1123},{314,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,11}</string>
                <key>spriteSize</key>
                <string>{318,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1557,337},{318,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-13}</string>
                <key>spriteSize</key>
                <string>{318,264}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1707,657},{318,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-52}</string>
                <key>spriteSize</key>
                <string>{318,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1741,1},{318,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,3}</string>
                <key>spriteSize</key>
                <string>{318,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1011,1071},{318,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-36}</string>
                <key>spriteSize</key>
                <string>{318,220}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{691,1123},{318,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,11}</string>
                <key>spriteSize</key>
                <string>{318,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1585,999},{318,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{334,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{961,341},{334,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{334,276}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1279,337},{334,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{334,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1149,1},{334,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-20}</string>
                <key>spriteSize</key>
                <string>{334,252}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1331,1013},{334,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,11}</string>
                <key>spriteSize</key>
                <string>{334,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1211,677},{334,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{334,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1467,1},{334,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,11}</string>
                <key>spriteSize</key>
                <string>{336,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{893,733},{336,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{338,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{849,1},{338,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{356,322}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{637,375},{356,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{372,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{372,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{372,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{319,749},{372,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{372,224}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{317,1123},{372,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_magic_stone20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{372,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,375},{372,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{372,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,749},{372,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{372,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{319,1},{372,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{372,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{319,375},{372,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-11}</string>
                <key>spriteSize</key>
                <string>{372,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{619,749},{372,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_magic_stone20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-42}</string>
                <key>spriteSize</key>
                <string>{372,210}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{637,1},{372,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_magic_stone2.png</string>
            <key>size</key>
            <string>{1972,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a82bf365ab3bd265ad03cc9fab72d5:4450213834ee7d14c65d59c899988a78:d9ef2bc9b127b72e54c39bea4771f356$</string>
            <key>textureFileName</key>
            <string>enemy_magic_stone2.png</string>
        </dict>
    </dict>
</plist>
