<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_sword0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298.5,167.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{447,65},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,38}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{427,1},{62,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_sword0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,29}</string>
                <key>spriteSize</key>
                <string>{122,66}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{323,147},{122,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,7}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,147},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{250,126}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_sword0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_sword0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{296,144}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{129,1},{296,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_sword.png</string>
            <key>size</key>
            <string>{474,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7bd98af7e01794aa7bae22bcc14a70:7785249c5f91dc8f14d067ff6b8dd3f9:f253d88c098a3cf5482ca5accefc150b$</string>
            <key>textureFileName</key>
            <string>enemy_sword.png</string>
        </dict>
    </dict>
</plist>
