<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_skill_storm0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{285,329},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{649,1025},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{551,627},{112,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{567,1107},{138,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{184,186}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{227,1111},{184,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{232,220}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{239,889},{232,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{260,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{277,627},{260,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{314,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{347,327},{314,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{262,252}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{691,269},{262,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{224,212}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1083},{224,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{220,210}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{721,1025},{220,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{285,329},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{82,86}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{551,835},{82,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{809,1237},{138,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{174,186}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{473,919},{174,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{234,216}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{649,807},{234,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{258,282}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,329},{258,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{342,324}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{347,1},{342,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{266,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{691,1},{266,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{202,190}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1297},{202,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{198,190}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{205,1297},{198,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{178,194}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{405,1297},{178,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{285,329},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{551,741},{92,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{158,150}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{415,1111},{158,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_storm0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{601,1257},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{274,266}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,589},{274,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{344,326}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{344,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{284,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{663,533},{284,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_storm0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{236,224}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,857},{236,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_skill_storm.png</string>
            <key>size</key>
            <string>{948,1488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e804045fde0d21f6f730a83bf06dbe87:2a59b847449f4ccf246ad10d4a1f603b:32e23d8a451f07d8432b28fa438bdf9a$</string>
            <key>textureFileName</key>
            <string>enemy_skill_storm.png</string>
        </dict>
    </dict>
</plist>
