<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_skill_deathback0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-119}</string>
                <key>spriteSize</key>
                <string>{168,38}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1589,1057},{168,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-117}</string>
                <key>spriteSize</key>
                <string>{180,48}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1651,647},{180,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_deathback0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-109}</string>
                <key>spriteSize</key>
                <string>{180,64}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1751,1019},{180,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-97}</string>
                <key>spriteSize</key>
                <string>{178,88}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1409,1057},{178,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_deathback0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-82}</string>
                <key>spriteSize</key>
                <string>{266,120}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1629,1019},{266,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-68}</string>
                <key>spriteSize</key>
                <string>{292,152}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1671,1},{292,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-57}</string>
                <key>spriteSize</key>
                <string>{292,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1651,353},{292,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{312,202}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1629,705},{312,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{350,218}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1057,1057},{350,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_deathback0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{705,1057},{350,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_deathback0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{350,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1057},{350,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_deathback0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{350,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{353,1057},{350,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_deathback0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{350,232}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1437,1},{350,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-32}</string>
                <key>spriteSize</key>
                <string>{350,238}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1411,353},{350,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{903,705},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{927,353},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{953,1},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1145,705},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1169,353},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1387,705},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{350,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1195,1},{350,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{350,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{645,705},{350,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{350,280}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{645,353},{350,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{350,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{645,1},{350,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{350,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{350,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,353},{350,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{350,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,705},{350,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{350,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{323,1},{350,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{350,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{323,353},{350,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_deathback0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{350,320}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{323,705},{350,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_skill_deathback.png</string>
            <key>size</key>
            <string>{1832,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62276d912263dc401e3c215aaabaaa79:3c9884c6c23714e8cb0a5a55b902df7d:2cae338c2a6ddc9c7b11b53d42b6a696$</string>
            <key>textureFileName</key>
            <string>enemy_skill_deathback.png</string>
        </dict>
    </dict>
</plist>
