<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_skill_weakness0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,1},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,1},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{799,1},{264,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_weakness0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,201},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,205},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,201},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{799,267},{264,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_weakness0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,401},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,405},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,401},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{799,533},{264,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_weakness0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,601},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,605},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,601},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{799,799},{264,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_weakness0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,801},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,805},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,801},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-26}</string>
                <key>spriteSize</key>
                <string>{264,202}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,1001},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1005},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,1001},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{799,1065},{264,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_weakness0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,1201},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1205},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,1201},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{799,1331},{264,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_weakness0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{267,1401},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1405},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_weakness0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-28}</string>
                <key>spriteSize</key>
                <string>{264,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{533,1401},{264,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_skill_weakness.png</string>
            <key>size</key>
            <string>{998,1604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef73950c3f4ec8193c656724637e3be:44c4fc0894b340beacad9448b27f2f90:2c8c503945882779091bb956802fc9aa$</string>
            <key>textureFileName</key>
            <string>enemy_skill_weakness.png</string>
        </dict>
    </dict>
</plist>
