<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_skill_hit0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-135}</string>
                <key>spriteSize</key>
                <string>{36,10}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{423,235},{36,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-135}</string>
                <key>spriteSize</key>
                <string>{36,10}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{423,235},{36,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-125}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{985,217},{68,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-125}</string>
                <key>spriteSize</key>
                <string>{68,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{985,217},{68,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-110}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1635,1},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_hit0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-110}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1635,1},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_hit0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-90}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1521,133},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-90}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1521,133},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-29}</string>
                <key>spriteSize</key>
                <string>{142,226}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{625,1},{142,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-29}</string>
                <key>spriteSize</key>
                <string>{142,226}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{625,1},{142,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{150,244}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{271,1},{150,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{150,244}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{271,1},{150,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{152,252}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-19}</string>
                <key>spriteSize</key>
                <string>{152,252}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{114,246}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{155,1},{114,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{114,246}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{155,1},{114,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-106}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1653,103},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-106}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1653,103},{58,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-78}</string>
                <key>spriteSize</key>
                <string>{112,130}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1521,1},{112,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{224,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{769,1},{224,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_hit0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{224,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{769,1},{224,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy_skill_hit0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-44}</string>
                <key>spriteSize</key>
                <string>{170,196}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1349,1},{170,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-44}</string>
                <key>spriteSize</key>
                <string>{170,196}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1349,1},{170,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{200,232}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{423,1},{200,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-27}</string>
                <key>spriteSize</key>
                <string>{200,232}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{423,1},{200,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{184,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{985,1},{184,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{184,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{985,1},{184,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{184,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{985,1},{184,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-36}</string>
                <key>spriteSize</key>
                <string>{184,214}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{985,1},{184,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_skill_hit0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-40}</string>
                <key>spriteSize</key>
                <string>{176,206}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1171,1},{176,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy_skill_hit.png</string>
            <key>size</key>
            <string>{1712,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27b63a83afb832a614e0eb6a8118b687:7df6e9f32162ec4a906e57588ef4c951:301b8f476140cbecb90678496106c706$</string>
            <key>textureFileName</key>
            <string>enemy_skill_hit.png</string>
        </dict>
    </dict>
</plist>
