<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lock0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,281},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,841},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,1121},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,1401},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1,1681},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,1},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,281},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,841},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,1121},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,1401},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{281,1681},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,1},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,281},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,841},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,1121},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,1401},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{561,1681},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,1},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,281},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,841},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,1121},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,1401},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{841,1681},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,1},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,281},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,841},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,1121},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,1401},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1121,1681},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1401,1},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1401,281},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1401,561},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137.5,137.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{1401,841},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lock.png</string>
            <key>size</key>
            <string>{1680,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515a1df5709e5d11e2ae2f5ad7f26677:43cec10a900c5f88e62618a32d34707d:d9e72026ae172a0305cf306f20754e06$</string>
            <key>textureFileName</key>
            <string>lock.png</string>
        </dict>
    </dict>
</plist>
