<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>self_skill_hit0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-160}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1593,191},{64,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-160}</string>
                <key>spriteSize</key>
                <string>{64,18}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1593,191},{64,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-140}</string>
                <key>spriteSize</key>
                <string>{122,58}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1719,815},{122,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-140}</string>
                <key>spriteSize</key>
                <string>{122,58}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1719,815},{122,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-114}</string>
                <key>spriteSize</key>
                <string>{182,110}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1779,815},{182,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-114}</string>
                <key>spriteSize</key>
                <string>{182,110}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1779,815},{182,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,44}</string>
                <key>spriteSize</key>
                <string>{234,188}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1361,1},{234,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,44}</string>
                <key>spriteSize</key>
                <string>{234,188}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1361,1},{234,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{260,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1701,553},{260,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{260,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1701,553},{260,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{272,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1701,279},{272,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{272,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1701,279},{272,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{276,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1613,1},{276,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{276,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1613,1},{276,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1361,395},{206,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{206,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1361,395},{206,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-107}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1613,815},{104,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-54}</string>
                <key>spriteSize</key>
                <string>{202,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1361,191},{202,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,603},{406,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,603},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,603},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_hit0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{681,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{681,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_hit0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1021,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>self_skill_hit.png</string>
            <key>size</key>
            <string>{2040,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:125d642256032710caa4a83efc9131cb:4e4e51229d7bba8325057c6a99edc8d3:6ac76d2b7e207a176e55994379a46443$</string>
            <key>textureFileName</key>
            <string>self_skill_hit.png</string>
        </dict>
    </dict>
</plist>
