<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>self_role_wand_normal0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,767},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{921,261},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,681},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{717,261},{202,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,258}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{717,1},{262,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,316}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{697,461},{322,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_wand_normal0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{382,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_wand_normal0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{374,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{374,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,385},{380,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_wand_normal0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,385},{380,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_wand_normal0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_wand_normal0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{354,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>self_role_wand_normal.png</string>
            <key>size</key>
            <string>{1014,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23c5d8f6db94ad17615deb4fd4fa0d30:55e3249d66256996c179f30fe3f244c9:e95d302d61bf2f6bd2e2f821e0c68dba$</string>
            <key>textureFileName</key>
            <string>self_role_wand_normal.png</string>
        </dict>
    </dict>
</plist>
