<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>self_magic_fire20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{161,12}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{473,1491},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,22}</string>
                <key>spriteSize</key>
                <string>{128,108}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1015,1019},{128,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{175,33}</string>
                <key>spriteSize</key>
                <string>{230,198}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1643,1327},{230,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_fire20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{158,34}</string>
                <key>spriteSize</key>
                <string>{284,270}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{473,1205},{284,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,17}</string>
                <key>spriteSize</key>
                <string>{470,304}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1205},{470,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_fire20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,0}</string>
                <key>spriteSize</key>
                <string>{516,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{681,1},{516,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{560,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{675,603},{560,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{600,332}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,603},{600,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,603},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{600,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-81,-1}</string>
                <key>spriteSize</key>
                <string>{438,324}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1361,1},{438,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{498,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1015,519},{498,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{556,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{745,1165},{556,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_fire20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,0}</string>
                <key>spriteSize</key>
                <string>{454,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1021,1},{454,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{484,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1303,1019},{484,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{418,328}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1695,423},{418,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{420,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1643,905},{420,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{446,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1355,457},{446,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{420,334}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1687,1},{420,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_fire20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298.5,167.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1511},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>self_magic_fire2.png</string>
            <key>size</key>
            <string>{2024,1526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c351901099343da51069f6df3f24ed5c:78414e6a39123010ffcccad039fcd9ff:0efd0a02195c42020aa0feef11978920$</string>
            <key>textureFileName</key>
            <string>self_magic_fire2.png</string>
        </dict>
    </dict>
</plist>
