<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>self_magic_stone20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298.5,167.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{585,2381},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-246,167}</string>
                <key>spriteSize</key>
                <string>{32,4}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,2623},{32,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-225,119}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1789,2485},{128,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-217,90}</string>
                <key>spriteSize</key>
                <string>{128,148}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1807,1},{128,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,71}</string>
                <key>spriteSize</key>
                <string>{538,196}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1789,1945},{538,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_stone20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,17}</string>
                <key>spriteSize</key>
                <string>{574,304}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1187,2001},{574,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{582,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,1701},{582,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{582,326}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,2041},{582,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-49}</string>
                <key>spriteSize</key>
                <string>{582,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,2381},{582,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{582,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,1361},{582,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-24}</string>
                <key>spriteSize</key>
                <string>{582,290}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,2307},{582,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-72}</string>
                <key>spriteSize</key>
                <string>{582,194}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1789,1361},{582,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_magic_stone20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,341},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,1},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,681},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{600,276}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,2369},{600,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,341},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,1},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1021},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,681},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,341},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1361},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,1021},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{600,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1187,1701},{600,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,681},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1701},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,1361},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,1021},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_magic_stone20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,2041},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>self_magic_stone2.png</string>
            <key>size</key>
            <string>{1986,2646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acbc9265deb558a43136d01b1cccee7b:cc05206ad2fceb4a3d4fa2b83bc16f70:589b9befb73a22c0732cbedc7c331ac8$</string>
            <key>textureFileName</key>
            <string>self_magic_stone2.png</string>
        </dict>
    </dict>
</plist>
