<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>self_skill_storm0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1309,971},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{84,88}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1519,1205},{84,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{140,128}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1807,173},{140,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{174,188}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1635,1119},{174,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{236,238}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1177,1013},{236,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{300,284}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,1019},{300,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,341},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{288,274}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1309,681},{288,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{282,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1021},{282,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1309,971},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1415,1205},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1807,1},{170,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{218,232}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1415,971},{218,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{296,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{275,1021},{296,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{330,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{969,681},{330,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,1},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,681},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{288,274}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1309,681},{288,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{282,272}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1021},{282,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_skill_storm0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1585,647},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1309,971},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{114,120}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1835,303},{114,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{202,192}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1635,925},{202,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{270,284}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{905,1019},{270,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{364,336}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,681},{364,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{603,341},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1205,1},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_skill_storm0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{304,288}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1545,341},{304,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>self_skill_storm.png</string>
            <key>size</key>
            <string>{1966,1304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d595375a8282b3bc74506f46aee057a:472c456b07e167d9537e27361505dc2e:9088d106beab65e568514a54e54a54c1$</string>
            <key>textureFileName</key>
            <string>self_skill_storm.png</string>
        </dict>
    </dict>
</plist>
