<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>self_role_hammer0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-133}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{711,341},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-130}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{891,743},{90,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_hammer0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-117}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{745,743},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-105}</string>
                <key>spriteSize</key>
                <string>{200,128}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{615,649},{200,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_hammer0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-92}</string>
                <key>spriteSize</key>
                <string>{254,154}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,901},{254,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-79}</string>
                <key>spriteSize</key>
                <string>{308,180}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,719},{308,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-67}</string>
                <key>spriteSize</key>
                <string>{350,204}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{615,851},{350,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-54}</string>
                <key>spriteSize</key>
                <string>{368,230}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{757,1},{368,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_hammer0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-41}</string>
                <key>spriteSize</key>
                <string>{370,256}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{749,371},{370,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_hammer0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-29}</string>
                <key>spriteSize</key>
                <string>{376,280}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{333,649},{376,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_hammer0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{376,306}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{333,341},{376,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{376,330}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,341},{376,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>self_role_hammer0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>self_role_hammer0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{376,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{379,1},{376,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>self_role_hammer.png</string>
            <key>size</key>
            <string>{1006,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb6c3515f85f2269025aa81c22b3a7d:05248fd824e861b66a6bd52f212fc1f5:a342b06d0e2e5d343202a9104d90b4ee$</string>
            <key>textureFileName</key>
            <string>self_role_hammer.png</string>
        </dict>
    </dict>
</plist>
