<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{382,382}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,693},{382,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{385,769},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{366,366}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1447},{366,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{356,356}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{761,769},{356,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{348,348}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1119,821},{348,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{340,340}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{761,1127},{340,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{332,332}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1443,1477},{332,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{324,324}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{723,1511},{324,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1469,853},{316,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{306,306}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1469,1169},{306,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{322,322}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1049,1511},{322,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1103,1171},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{352,352}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{369,1447},{352,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{368,368}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1077},{368,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{382,382}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,693},{382,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{82,20}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{561,129},{82,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{182,40}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1703,285},{182,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{282,62}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1703,1},{282,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-128}</string>
                <key>spriteSize</key>
                <string>{382,84}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1681,469},{382,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-127}</string>
                <key>spriteSize</key>
                <string>{484,106}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1121,713},{484,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-127}</string>
                <key>spriteSize</key>
                <string>{580,126}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{580,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{558,120}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1,449},{558,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{558,120}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1121,469},{558,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{558,120}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{561,525},{558,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{558,120}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1,571},{558,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{558,120}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1121,591},{558,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-129}</string>
                <key>spriteSize</key>
                <string>{558,120}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{561,647},{558,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-116}</string>
                <key>spriteSize</key>
                <string>{558,146}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{561,377},{558,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-87}</string>
                <key>spriteSize</key>
                <string>{558,204}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1143,263},{558,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-59}</string>
                <key>spriteSize</key>
                <string>{558,260}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1143,1},{558,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{558,318}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{1,129},{558,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{558,374}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{583,1},{558,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{558,374}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{583,1},{558,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{558,374}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{583,1},{558,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{558,374}</string>
                <key>spriteSourceSize</key>
                <string>{580,380}</string>
                <key>textureRect</key>
                <string>{{583,1},{558,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>victory.png</string>
            <key>size</key>
            <string>{1786,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d9dfd4cc91e555bbd38367f8a6f6797:3aa3e1b45812805fab3c5b75ccd1827f:ef5419f25bccb40a7179c8244ad4c839$</string>
            <key>textureFileName</key>
            <string>victory.png</string>
        </dict>
    </dict>
</plist>
