<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heart0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,370}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{377,1},{370,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1,1129},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{361,1129},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,370}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{377,373},{370,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1,377},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,370}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{377,745},{370,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{749,1},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,358}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{749,361},{358,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,370}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{721,1117},{370,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,374}</string>
                <key>spriteSourceSize</key>
                <string>{380,380}</string>
                <key>textureRect</key>
                <string>{{1,753},{374,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heart.png</string>
            <key>size</key>
            <string>{1108,1488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb31cdc17fbfed79d28025254a80c9e:09a769421f0e5fcedab1d69590d0522e:312204e451de03ef17df85788cfe2c18$</string>
            <key>textureFileName</key>
            <string>heart.png</string>
        </dict>
    </dict>
</plist>
