<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sea0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1,1},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1303,1},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1,734},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1303,734},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1,1467},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1303,1467},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1,2200},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1303,2200},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1,2933},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sea0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,731}</string>
                <key>spriteSourceSize</key>
                <string>{1300,731}</string>
                <key>textureRect</key>
                <string>{{1303,2933},{1300,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_sea-0.png</string>
            <key>size</key>
            <string>{2604,3665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96ab026449ad302ad150945188fdf000:f1022233b126eff670ce3e278a01ba7c:3205bcbaa394b445fc77ad39c28f3327$</string>
            <key>textureFileName</key>
            <string>map_sea-0.png</string>
        </dict>
    </dict>
</plist>
