<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zone10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1927,1},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{2569,1},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1,393},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{643,393},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1285,393},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1927,393},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{2569,393},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1,785},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{643,785},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1285,785},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1927,785},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{2569,785},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1,1177},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{643,1177},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1285,1177},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{1927,1177},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zone10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{640,390}</string>
                <key>spriteSourceSize</key>
                <string>{640,400}</string>
                <key>textureRect</key>
                <string>{{2569,1177},{640,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zone1.png</string>
            <key>size</key>
            <string>{3210,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f05c90416f9c0fd9b6eb756745bc57:f30b3a72ff2dac948686446bea1db394:6402e136a48f7380258208a94be7527e$</string>
            <key>textureFileName</key>
            <string>zone1.png</string>
        </dict>
    </dict>
</plist>
