<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>learn_scroll0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,280}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,244}</string>
                <key>spriteSize</key>
                <string>{116,75}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1919,1666},{116,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,194}</string>
                <key>spriteSize</key>
                <string>{116,175}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1478,2339},{116,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,144}</string>
                <key>spriteSize</key>
                <string>{116,275}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1586,2221},{116,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,95}</string>
                <key>spriteSize</key>
                <string>{116,373}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1103,2339},{116,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,45}</string>
                <key>spriteSize</key>
                <string>{116,473}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1111,2221},{116,473}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{116,545}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{556,2339},{116,545}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1,2221},{116,553}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1,2339},{116,553}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{116,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{556,2221},{116,553}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>learn_scroll0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{260,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1749,1111},{260,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{422,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1495,1666},{422,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{909,1666},{584,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1003,1111},{744,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1,1666},{906,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1,556},{1000,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1000,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1,1111},{1000,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn_scroll0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,553}</string>
                <key>spriteSourceSize</key>
                <string>{1000,563}</string>
                <key>textureRect</key>
                <string>{{1003,556},{1000,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>learn_bg.png</string>
            <key>size</key>
            <string>{2010,2456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24c68e063bb068d5fc306f4d402e4bf3:6d5d9ff92314074d09d5312d61f9d384:515fb858e42e36114e597b305f7c085b$</string>
            <key>textureFileName</key>
            <string>learn_bg.png</string>
        </dict>
    </dict>
</plist>
